
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;

}

#status, #NumberOfObjects, #start
{
font-size: 18px;
}
body{
    background-size: cover;
    font-family: Pacifico;
}
canvas{
    box-shadow: 10px 10px 10px gray;
    border-radius: 20px;
    margin-top: 70px;
}
.note{
    font-size: 20px;
    padding: 5px;
    color: red;
}
